/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../../views/styles/_site.scss */
body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/img/old_mathematics.png");
  background-repeat: repeat;
  padding-bottom: 0;
}

/* line 12, ../../views/styles/_site.scss */
.wrapper {
  position: relative;
}

/* line 16, ../../views/styles/_site.scss */
.jumbotron p {
  color: #555;
  font-size: 18px;
}

/* line 21, ../../views/styles/_site.scss */
.form-search {
  padding: 12px 0;
}

/* line 25, ../../views/styles/_site.scss */
#content {
  padding: 30px 0;
}

/* line 29, ../../views/styles/_site.scss */
.display-link {
  padding: 15px 0;
  font-size: 2.0rem;
}

/* line 34, ../../views/styles/_site.scss */
.footer {
  padding: 30px 0 0 0;
}
/* line 37, ../../views/styles/_site.scss */
.footer .container-fluid {
  border-top: 1px solid #888;
  text-align: left;
  font-size: 12px;
  padding-right: 0;
  padding-left: 0;
  margin-right: 20px;
  margin-left: 20px;
}
/* line 46, ../../views/styles/_site.scss */
.footer .container-fluid ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}
/* line 52, ../../views/styles/_site.scss */
.footer .container-fluid .pull-left {
  text-align: left;
}
/* line 56, ../../views/styles/_site.scss */
.footer .container-fluid .pull-right {
  text-align: right;
}
